[submodule "libs/flask-pkg"]
	path = libs/flask-pkg
	url = git@github.com:pallets/flask.git
[submodule "libs/jinja-pkg"]
	path = libs/jinja-pkg
	url = https://github.com/pallets/jinja.git
[submodule "libs/werkzeug-pkg"]
	path = libs/werkzeug-pkg
	url = git@github.com:pallets/werkzeug.git
[submodule "libs/itsdangerous-pkg"]
	path = libs/itsdangerous-pkg
	url = git@github.com:pallets/itsdangerous.git
[submodule "libs/click-pkg"]
	path = libs/click-pkg
	url = git@github.com:pallets/click.git
[submodule "libs/markupsafe-pkg"]
	path = libs/markupsafe-pkg
	url = git@github.com:pallets/markupsafe.git
